# Ignore specific files
/image_handler/files/chase.mp4
/yolov8/model/best_x.pt
/image_handler/files/DSCF1821_2.mp4
kamikaze/src/__pycache__/QR_node.cpython-38.pyc
server_comm/src/server_comm/__pycache__/utils.cpython-38.pyc
kamikaze/src/__pycache__/utilities.cpython-38.pyc
template_gui_package/test_ws.workspace.user
yolov8/src/__pycache__/PID.cpython-38.pyc
yolov8/src/yolov8/__pycache__/PID.cpython-38.pyc
server_comm/src/server_comm/__pycache__/utils.cpython-38.pyc
kamikaze/src/__pycache__/QR_node.cpython-38.pyc
kamikaze/src/__pycache__/utilities.cpython-38.pyc
