# Ignore specific files
/image_handler/files/chase.mp4
/yolov8/model/best_x.pt
/image_handler/files/DSCF1821_2.mp4
/kamikaze/src/__pycache__/
/server_comm/src/server_comm/__pycache__/
/kamikaze/src/__pycache__/
yolov8/src/yolov8/__pycache__/PID.cpython-38.pyc
1_Anatolia_Aero_Design_3_09_2024.avi
savasan_general/launch/apm_config.yaml
savasan_general/launch/apm_config.yaml
/template_gui_package/build/
